:root {
    --header-bg: #32AEB1;
    --green: #5ba41c;
    --dark-bg: #0b1219;
    --light-black: #151b39;
    --gray: #6F7284;
    --pink: #ef4281;
    --red: #E33912;
    --footer-bg: linear-gradient(to bottom,rgba(36,174,177,0) 50%,rgba(36,174,177,.7) 130%),linear-gradient(to bottom,#fff,#fff);
}

body{
    font-family: Lato;
    background-color: #f3f7fb;
}

.position-sticky{
    position: sticky ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;

}

.bg-1{
    background: url(https://www.netmeds.com/images/cms/section/images/1686050237_Watch_Image.png) no-repeat left bottom / 240px, linear-gradient(to bottom, rgb(255 255 255 / -2%), rgba(255, 255, 255, .4) 78%), linear-gradient(180deg, #ab1e24, #ab1e24);
}

.bg-2{
    background: url(https://www.netmeds.com/images/cms/section/images/1687239239_Money_Image.png) no-repeat left bottom / 240px, linear-gradient(to bottom, rgb(255 255 255 / -2%), rgba(255, 255, 255, .4) 78%), linear-gradient(180deg, #5ECDDE, #5ECDDE);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

img{
    object-fit: cover;
    width: 100%;
}

.btn-bg{
    background-image: linear-gradient(75deg,#fbc82f,#fff48a 100%),linear-gradient(to bottom,#0b1219,#0b1219);
}

.btn-bg1{
    background-color: var(--header-bg);
}

.pink{
    color: var(--pink);
}

.red{
    color: var(--red);
}

.object-fit{
    object-fit: cover;
}

.fs-24{
    font-size: 24px;
}

.fs-20{
    font-size: 20px;
}

.fs-16{
    font-size: 16px;
}

.fs-12{
    font-size: 12px;
}

.bx-shadow{
    
    box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.4);
}

.bg-img{
    background: #fff url(https://www.netmeds.com/assets/version1692879680/gloryweb/images/nsBg.png) repeat center/100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    width: 100%;
}

.bg-light{
    background-color: #fff;
}

header {
    background-color: var(--header-bg);
}

header .logo{
    width: 200px;
}

.search-bar form input{
    width: 400px;
    height: 40px;
}

.search-bar form select{
    height: 50px;
}

.sub-menu{
    background-color: var(--header-bg);
}

.sub-menu ul{
    list-style: none;
}

.card{
    border: none;
    border-radius: 8px;
    color: black;
}

.card-text{
    color: var(--green);
}

.bx{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.border-start{
    border-left: 2px solid black;
    padding: 15px;
}