:root {
    --header-bg: #32AEB1;
    --green: #5ba41c;
    --dark-bg: #0b1219;
    --light-black: #151b39;
    --gray: #6F7284;
    --pink: #ef4281;
    --red: #E33912;
    --footer-bg: linear-gradient(to bottom,rgba(36,174,177,0) 50%,rgba(36,174,177,.7) 130%),linear-gradient(to bottom,#fff,#fff);
}

body{
    font-family: Lato;
    background-color: #f3f7fb;
}

.position-sticky{
    position: sticky ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;

}

.bg-1{
    background: url(https://www.netmeds.com/images/cms/section/images/1686050237_Watch_Image.png) no-repeat left bottom / 240px, linear-gradient(to bottom, rgb(255 255 255 / -2%), rgba(255, 255, 255, .4) 78%), linear-gradient(180deg, #ab1e24, #ab1e24);
}

.bg-2{
    background: url(https://www.netmeds.com/images/cms/section/images/1687239239_Money_Image.png) no-repeat left bottom / 240px, linear-gradient(to bottom, rgb(255 255 255 / -2%), rgba(255, 255, 255, .4) 78%), linear-gradient(180deg, #5ECDDE, #5ECDDE);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

img{
    object-fit: cover;
    width: 100%;
}

.btn-bg{
    background-image: linear-gradient(75deg,#fbc82f,#fff48a 100%),linear-gradient(to bottom,#0b1219,#0b1219);
}

.btn-bg1{
    background-color: var(--header-bg);
}

.pink{
    color: var(--pink);
}

.red{
    color: var(--red);
}

.object-fit{
    object-fit: cover;
}

.fs-24{
    font-size: 24px;
}

.fs-20{
    font-size: 20px;
}

.fs-16{
    font-size: 16px;
}

.fs-12{
    font-size: 12px;
}

.bx-shadow{
    
    box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.4);
}

.bg-img{
    background: #fff url(https://www.netmeds.com/assets/version1692879680/gloryweb/images/nsBg.png) repeat center/100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    width: 100%;
}

.bg-light{
    background-color: #fff;
}

header {
    background-color: var(--header-bg);
}

header .logo{
    width: 200px;
}

.search-bar form input{
    width: 400px;
    height: 40px;
}

.search-bar form select{
    height: 50px;
}

.sub-menu{
    background-color: var(--header-bg);
}

.sub-menu ul{
    list-style: none;
}

.card{
    border: none;
    border-radius: 8px;
    color: black;
}

.card-text{
    color: var(--green);
}

.bx{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.border-start{
    border-left: 2px solid black;
    padding: 15px;
}

.p-80{
    padding: 80px 0px;
}
.product-1bg{
    background: url(../images/product-bg-1.png) no-repeat left bottom / 240px, linear-gradient(to bottom, rgb(255 255 255 / -2%), rgba(255, 255, 255, .4) 78%), linear-gradient(180deg, #ab1e24, #ab1e24);
}
#parent-box {
    display: flex;
    margin-top: 50px;
    position: relative;
  }
  #box1 {
    background-color: white;
    margin-right: 20px;
    text-align: center;
    height: 420px;
    border-radius: 8px;
    width: 20%;
  }
  #box1 input {
    display: block;
    padding: 15px;
    outline: none;
    width: 85%;
    border: 1px solid #24aeb1;
    margin:50px auto;
  }
  #box1 #search {
    position: absolute;
    top:33.4px;
    left: 186px;
    padding: 13px 10px;
    border-right: 1px solid #24aeb1;
    border-left: 1px solid #24aeb1;
    width: 50px;
    height: 54.8px;
    border-radius: 0px;
  }
  #lth {
    margin-top: -30px !important;
  }
  #box1 button {
    background: #fff;
    border: 2px solid #edeef0;
    padding: 17px 30px;
    box-shadow: none;
    font-size: 15px;
    border-radius: 6px;
    margin: 17px 0px;
    cursor: pointer;
    line-height: normal;
    width: 85%;
    transition: all 0.5s;
    overflow: hidden;
  }
  #box1 button:hover {
    border: 2px solid #24aeb1;
    color: #24aeb1;
  }
  
  #box2 {
    /* width: 80%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: white; */
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
  }
  #box2 div {
    padding: 13px;
    border: 1px solid rgba(112, 112, 112, 0.38);
    background-color: white;
    border-radius: 8px;
    width: 300px;
    margin-top: 20px;
  }
  #box2 div {
    margin-left: 11px;
  }
  #box2 .div2 {
    margin-right: 2px;
    position: relative;
  }
  #box2 .div2 h5 {
    background: #84be52;
    border-radius: 4px;
    color: #fff;
    font-size: 10px;
    padding: 5px 6px 5px 6px;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 11px;
  }
  #box2 .div2 img {
    margin: auto;
    display: block;
  }
  #box2 .div2 .img-1 {
    width: 13px;
    text-align: left !important;
    display: inline-block;
    margin-right: 5px;
  }
  #box2 .div2 h2 {
    font-size: 14px;
    color: #151b39;
    letter-spacing: 0;
    margin: 14px 0 5px;
    text-align: left;
    height: 42px;
    line-height: 22px;
    margin-bottom: 14px;
  }
  #box2 .div2 span {
    color: #24aeb1;
    font-size: 12px;
    line-height: 14px;
    background: #f3f7fb;
    border-radius: 40px;
    padding: 6px 12px;
    margin: 0 4px 0 0;
    overflow: hidden;
    white-space: nowrap;
  }
  #box2 .div2 h3 {
    font-style: italic;
    line-height: 16px;
    color: #6f7284;
    margin-bottom: 5px;
    margin-top: 17px;
    font-size: 13px;
    letter-spacing: 0.4px;
    font-weight: 500;
  }
  #box2 .div2 h4 {
    color: #0b1219;
    font-size: 16px;
    font-family: LatoSemiBold;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 6px;
  }
  #box2 .div2 button {
    background: #24aeb1;
    width: 100%;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 30px;
    padding: 11px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: "Lato";
    font-weight: 700;
    cursor: pointer;
  }
  #box2 .div2 del {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
  }


.form-group input{
    border-bottom: 2px solid rgba(21,27,57,.04);
    font-size: 16px;
    color: #151b39;
    padding: 3px 0;
    margin: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 360px;
    background-color: transparent;
    outline: none;
  }
  input::placeholder{
    color: #ced4da;
    font-weight: 500;
  }
#sub input{
  background: #24aeb1;
    font-family: LatoBold;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    box-shadow: none!important;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'lato';
    margin-top: 17px !important;
    padding: 12px 6px;
    width:86%;
    height: 100%;
    margin: 0;
    border: 0;
    cursor: pointer;
}

.deliver{
  width: 141px;
  height: 48px;
  float: left;
  background: #fff;
  border-radius: 6px 0 0 6px;
  margin-left: 50px;
}
.deliver-1{
  padding: 0 0 0 16px;
  position: relative;
  font-family: Lato;
  font-size: 13px;
  color: rgba(21,27,57,.5);
  line-height: 22px;
  width: 160px;
  border-right: 1px solid rgba(11,18,25,.2);
  margin: 13px 0;
  z-index: 1;
}
.deliver-1 span{
  color: #24aeb1;
  font-weight: 700;
  font-size: 14px;
  padding-left: 5px;
}
form input{
  background: #fff;
  border: 0;
  border-radius: 0 6px 6px 0;
  font-family: Lato;
  font-size: 14px;
  color: #151b39;
  height: 48px;
  padding: 0 15px 0 35px;
  width: 600px;
  outline: none;
}
form input::placeholder{
  font-size: 17px;
  font-weight: 400;
}

